
*{
    margin: 0px;
    padding: 0px;
}
#logo{
    width: 50%;
  margin-left: 150px;
  height: 100%;
}
#header{
position: fixed;
display: flex;
justify-content: space-between;
width: 100%;
height: 150px;
background-color: white;
font-family: Neue-Helvetica, Helvetica, Arial, "sans-serif";
border: 0px solid red;
}
#header_right{
    border: 0px solid blue;  
    display: flex;
   
    justify-content: space-between;
}
#header_right p{
    font-size: 13px;
    font-weight:100;
    color: black;
    padding: 40px;
}
#footer{
    border: 0px solid green;
    margin-top: 150px;
    display: flex;
    width: 60%;
    margin-left: 180px;
}
#footer>div{
    width: 23%;
    margin-top: 10px;
    color: rgb(63,63,63);
    border: 0px solid green;
}
#footer>div>p{
    margin-top: 10px;
    font-size: 10px;
    color: rgb(123,125,124)
}
#footer>div>p>a{
    color: rgb(123,125,124);
    text-decoration: none;
}

#footer>div>h4{
    font-size: 12px;
}
#india{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 180px;
    color: rgb(123,125,124);
    font-size: 10px;
}
#footer-last{
    width: 40%;
    margin-top: 100px;
    margin-left: 180px;
    color: rgb(123,125,124);
    font-size: 10px;
    margin-bottom: 100px;
}
#footer-last>p{
    margin-bottom: 5px;
}
#main{
    border: 1px solid white;
    padding-top: 150px;
}

    #myproduct{
        width: 100%;
        /* margin-top: 50px; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        margin: auto;
        margin-left: 80px;
    }
    .image_s{
        width:400px;
        height: 550px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .title{
        font-size: 20px;
    }
    .prc{
        font-size: 10px;
    }
    .flex{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .card{
       padding-top: 50px;
        margin: auto;
        
    }
    #filt{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 50px;
    }
    #filt>#price_filter{
        padding: 8px;
    }
    #dis{
        width: 20%;
        padding: 10px;
        font-size: 10px;
        background-color: rgb(231, 225, 225);
        padding-left: 20px;
        margin-left: 100px;
    }
    #mydetails{
        width: 80%;
        display: flex;
    }
    #mydetails>#origin>h5{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    #mydetails>#origin>h6{
        margin-bottom: 20px;
    }
    #origin{
        width: 20%;
        margin-left: 150px;
        margin-right: 50px;
    }
    #mydetails>#origin>p{
        font-size: 10px;
    }
    #mydetails>#origin>a{
        font-size: 10px;
    }
    #priceDetails{
        width: 40%;
        
    }














