body{
    padding: 0%;
    margin: 0%;
}
img{
    width: 100%;
    

}
ul{
    
    color: white;
    display: flex;
   width: 100%;
   align-items: flex-end;
   justify-content: center;
    
     position: fixed;
    
    
    list-style: none;
    bottom: 5%;
    
    
}


button{
    background-color: transparent;
    border: 0px;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}




/* 
#header{
   
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header_left>p{
    font-size: 100px;
    font: Linotype Didot Pro Bold;
    padding: 10px;
    
}
#header_right{
   
   
   display: flex;
   justify-content: space-evenly;
   width: 25%;
   margin-top: 30px;
   height: 10%;
  
}


a{
    color: black;
    text-decoration: none;
    width: 40%;
    

}

#header_left>img{
    width: 30%;
    margin-left: 40px;
  
} */

