body {
    padding: 0%;
    margin: 0%;
}

img {
    width: 100%;
}

a{
    text-decoration: none;
}

ul {
    color: white;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    list-style: none;
    bottom: 5%;
}

button {
    background-color: transparent;
    border: 0px;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}
