body{
    margin: 0px;
    padding: 0px;
    font-family: Neue-Helvetica, Helvetica, Arial, "sans-serif";;
}
#logo{
    width: 50%;
  margin-left: 150px;
  height: 100%;
}
#header{
/* position: fixed; */
display: flex;
justify-content: space-between;
width: 100%;
height: 150px;
background-color: white;
font-family: Neue-Helvetica, Helvetica, Arial, "sans-serif";
border: 0px solid red;
}
#header_right{
    border: 0px solid blue;  
    display: flex;
    justify-content: space-between;
}
#header_right p{
    font-size: 13px;
    font-weight:100;
    color: black;
    padding: 40px;
}
#footer{
    border: 0px solid green;
    margin-top: 250px;
    display: flex;
    width: 60%;
    margin-left: 180px;
}
#footer>div{
    width: 23%;
    margin-top: 10px;
    color: rgb(63,63,63);
    
}
#footer>div>p{
    margin-top: 10px;
    font-size: 10px;
    color: rgb(123,125,124)
}
#footer>div>p>a{
    color: rgb(123,125,124);
    text-decoration: none;
}

#footer>div>h4{
    font-size: 12px;
}
#india{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 180px;
    color: rgb(123,125,124);
    font-size: 10px;
}
#footer-last{
    width: 40%;
    margin-top: 100px;
    margin-left: 180px;
    color: rgb(123,125,124);
    font-size: 10px;
    margin-bottom: 100px;
}
#footer-last>p{
    margin-bottom: 5px;
}
#main{
    border: 1px solid white;
    /* margin-top: 150px; */
}
#main>#payHead>h2{
    margin-bottom: 50px;
    font-size: 18px;
}
#main>#payHead>div{
    width: 70%;
    border: 0px solid orange;
    font-size: 13px;
    font-weight: 100;
    color: rgb(255,179,70);
}
#main>#payHead{
    width: 50%;
    border: 0px solid red;
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 100px;
}
#main>#payMethod{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    border: 0px solid red;
    margin-left: 180px;
}
#main>#payMethod>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#main>#payHead>div>img{
    width: 13%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#main>#payMethod>div>p{
    font-size: 11px;
    font-weight: 100;
}

#header1{
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    bottom: 10px;
    background-color: white;
    font-family: Neue-Helvetica, Helvetica, Arial, "sans-serif";
    border: 0px solid red;
    }
    #header_right1{
        border: 0px solid blue;  
        display: flex;
       
    }
    #header1>btn{
        padding: 20px;
    }
    #header1>#header_right1>#lastbtn{
        width: 200px;
        background-color: black;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
    }
   
    #details{
        width: 80%;
        display: flex;
        margin-top: 0px; 
        border: 0px solid blue;
    }
    #left-details{
        width: 42%;
        margin: auto;
        margin-left: 180px;
        margin-top: 40px;
        border: 0px solid black;
    }
    #right-details{
        width: 42%;
       margin-left: 10px;
        /* margin:auto; */
        margin-top: 20px;
        border: 0px solid blue;
    }
    #right-details-2{
        width: 42%;
       margin-left: 10px;
        /* margin:auto; */
        margin-top: 40px;
        border: 0px solid black;
    }
    input,select{
        width: 90%;
            width: 100%;
            padding: 12px 17px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid rgb(123,125,124);
            font-size: 10px;
          color: rgb(123,125,124);
    }
    label{
        font-size: 10px;
        color: rgb(123,125,124)
    }
    #left-details>#email-accept{
        margin-left: -20px;
    }
    #left-details>button{
        width: 100%;
        padding: 9px;
        background-color: black;
        color: white;
        margin-top: 30px;
        font-size: 12px;
        cursor: pointer;
    }
   










