*{
    margin: 0px;
    padding: 0px;
}
#container{
    padding: 150px 0px 0px 0px;

}
#serach-items{
    border:0px solid red;
    display: flex;
    width: 20%;
    margin: auto;
    margin-top: 0px;
    justify-content: space-between;
    font-size: 10px;
}

#input_tag{
    width: 95%;
    border: 0px solid red;
    margin: auto;
    margin-top: 150px;
    
}

#input_tag input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

/* -------------------------------- Footer -------------------------- */

#footer{
    border: 0px solid green;
    margin-top: 350px;
    display: flex;
    width: 60%;
    margin-left: 180px;
}
#footer>div{
    width: 23%;
    margin-top: 10px;
    color: rgb(63,63,63);
    /* border: 1px solid blue; */
}
#footer>div>p{
    margin-left: -25px;
    margin-top: 10px;
    font-size: 10px;
    color: rgb(123,125,124);
    /* border: 1px solid red; */
}
#footer>div>p>a{
    color: rgb(123,125,124)
}

#footer>div>h4{
    font-size: 12px;
}
#india{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 180px;
    color: rgb(123,125,124);
    font-size: 10px;
}
#footer-last{
    width: 40%;
    margin-top: 100px;
    margin-left: 180px;
    color: rgb(123,125,124);
    font-size: 10px;
    margin-bottom: 100px;
}
#footer-last>p{
    margin-bottom: 5px;
}

#footer-address1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 180px;
    color: rgb(123,125,124);
    font-size: 10px;  
}
#footer-address2{
    width: 40%;
    margin-top: 100px;
    margin-left: 180px;
    color: rgb(123,125,124);
    font-size: 10px;
    margin-bottom: 100px;
     
}
#products{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    margin: auto;
}
.image_s{
    width:230px;
    height: 350px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.title{
    font-size: 10px;
}
.prc{
    font-size: 10px;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.card{
   padding-top: 50px;
    margin: auto;
    
}
#filt{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
}
#filt>#price_filter{
    padding: 8px;
}

/* ------------------- Loader --------------------- */
#loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #434242;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10rem 0 0 40rem;
  }

  #loader1{
    margin:0 0 0 39rem;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }